@import "tailwindcss";

@layer base{
    h2{
        @apply text-4xl font-bold my-4
    }
}
.card{
    @apply px-2.5 py-1 overflow-y-scroll 
    
}
.card div{
    font-weight: 700;
    font-size: 1.5rem;
}
.card p{
    width: 100%;
    overflow-wrap:break-word ;
    padding-top: 10px;
}
.expanded{
    position: fixed;
    background-color: rgb(81, 11, 147);
    font-size: 2.5rem;
    color: beige;
    z-index: 100;
    width: 80vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    transition: all 0.3s ease-in;
    
}
